**/raw-data
**/processed-data
sexton-2012-dm6
vanBemmel-2010-dm3
vanBemmel-2010-dm3-dm6
hou-2012-dm6
lieberman-2009-hg19
wood-2011-dm6
jain-2015-dm6
dowen-2014-cohesin-chiapet-mm10
sahlen-2015-hicap-mm10
schoenfelder-2015-capture-HiC-mm10
soruco-2013-dm6
filion-2011-dm6
alvarez-dominguez-2014-mm10
filion-2010-dm6
fuda-2015-dm6
